@model List<AppUser>
@{ 
    Layout = "_Layout";
}

<a asp-action="Create" asp-controller="User" class="d-inline-block my-2 btn btn-primary">Yeni Kullanıcı Ekle</a>
<table class="table table-hovered table-bordered table-sm">
    <thead>
        <tr>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Role Info</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Gender</td>
            <td>@item.Email</td>
            <td><getUserInfo user-id="@item.Id"></getUserInfo></td>
            <td></td>
        </tr>
        }
    </tbody>
</table>